# Python
*.py[cod]
*.pyo
**/__pycache__/

# Virtual env
.env/
.venv/
env/
venv/

# Jupyter
*.ipynb_checkpoints

# Logs, dumps, objets
*.log
*.tmp
*.npy
*.pickle
*.pkl
*.gpickle

# CatBoost
catboost_info/

# Résultats auto-générés
results/

# Données (optionnel)
datasets/*.npy
datasets/*.pkl
datasets/*.csv

# Fichiers locaux
.DS_Store
Thumbs.db
set_envS3.sh
